<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perguntas</title>

    <!-- Importando o bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- quando usamos express não precisamos por a pasta public e depois a pasta css, subistitua o public por "/"-->
    <!-- o express ja vai automaticamente entrar na pasta public -->
    <link rel="stylesheet" href="/css/style.css">
    
</head>