<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a href="/" class="btn btn-primary">Perguntas</a>
    
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav"></div>
    <nav class="navbar navbar-light bg-dark">
        <form class="form-inline">            
            <a href="/perguntar" class="btn btn-primary">Fazer pergunta</a>            
        </form>
    </nav>
</nav>
</div>
</nav>